.thumbnail {
    height: 420px;
}

.thumbnail img {
    width: 100%;
}

header {
    height: 110px;
    width: 100%;
    background-color: #f6911e;
    background-image: -webkit-linear-gradient(-360deg, #f6911e, #febd36);
    background-image: linear-gradient(90deg, #f6911e, #febd36);
    padding: 30px 80px;
    color: white;
}

header a {
    color: white;
}

header a:hover {
    color: #FFE1B2;
    text-decoration: none;
}

header a sup {
    top: -1.5em;
    font-size: 14px;
    left: -0.4em;
}

body {
    margin: 0px;
    padding: 0px;
}
